$warning-color: #fff;
$warning-darken:darken($warning-color,18%);
.flotation-box{
  position: absolute;
  width: 200px;
  height: 60px;
  background-color: #fff3e7;
  border: solid 1px #ff9841;
  padding: 10px;
  top: 0;
  left: 100%;
}
/**/
.pos-alert{
  position: relative;
  .alert-box{
    padding:5px 20px;
    background-color: $warning-color;
    border: solid 1px $warning-darken;
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 99;
    font-size: 12px;
    border-radius: 6px;
    box-shadow: 0 4px 15px -2px $warning-darken;
    p{
      margin-bottom: 0;
    }
    /*Ä¬ÈÏÏÂ×ó*/
    &:after,&:before{
      content: '';
      position: absolute;
      left: 28px;
      border-right: transparent solid 8px;
      border-left: transparent solid 8px;
    }
    &:after{
      border-bottom: $warning-color solid 13px;
      top: -11px;
    }
    &:before{
      border-bottom: $warning-darken solid 12px;
      top: -12px;
    }
    /*ÉÏ×ó*/
    &.topLeft{
      bottom: 45px;
      top: inherit;
      left: 0;
      &:after,&:before{
        top: inherit;
        border-bottom:0;
      }
      &:after{
        border-top: $warning-color solid 13px;
        bottom: -11px;
      }
      &:before{
        border-top: $warning-darken solid 12px;
        bottom: -12px;
      }
    }
  }
  .close-icon{
    position: absolute;
    right: 2px;
    top: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    color: $warning-darken;
    font-size: 14px;
  }
}