$warning-color: #fff;
$warning-darken:darken($warning-color,18%);
.flotation-box{
  position: absolute;
  width: 200px;
  height: 60px;
  background-color: #fff3e7;
  border: solid 1px #ff9841;
  padding: 10px;
  top: 0;
  left: 100%;
}
/*悬浮提示*/
.pos-alert-content{
  position: absolute;
  .alert-box{
    padding:5px 25px 5px 10px;
    background-color: $warning-color;
    border: solid 1px $warning-darken;
    position: absolute;
    top: 10px;
    z-index: 99;
    font-size: 12px;
    border-radius: 3px;
    box-shadow: 0 4px 15px -2px $warning-darken;
    width: 200px;
    p{
      margin-bottom: 0;
    }
    /*默认下左*/
    &:after,&:before{
      content: '';
      position: absolute;
      left: 6px;
      border-right: transparent solid 6px;
      border-left: transparent solid 6px;
    }
    &:after{
      border-top: $warning-color solid 11px;
      bottom: -9px;
    }
    &:before{
      border-top: $warning-darken solid 10px;
      bottom: -10px;
    }
    &.bottomRight{
      &:after,&:before{
        bottom: inherit;
        border-top:0;
      }
      &:after{
        border-bottom: $warning-color solid 11px;
        top: -9px;
      }
      &:before{
        border-bottom: $warning-darken solid 10px;
        top: -10px;
      }
    }
    &.bottomLeft{
      &:after,&:before{
        bottom: inherit;
        border-top:0;
        left: inherit;
        right: 6px;
      }
      &:after{
        border-bottom: $warning-color solid 11px;
        top: -9px;
      }
      &:before{
        border-bottom: $warning-darken solid 10px;
        top: -10px;
      }
    }
    &.topLeft{
      &:after,&:before{
        left: inherit;
        right: 6px;
      }
    }
  }
  .close-icon{
    position: absolute;
    right: 2px;
    top: 5px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    color: $warning-darken;
    font-size: 14px;
  }
}