<div class="row" ng-controller="formValidController">
    <div class="col-sm-12">
        <h3 class="no-margin border-bottom">数据交互</h3>
    </div>
    <div class="col-sm-12 margin-top-10">

    </div>
    <div class="col-sm-12 margin-top-10 clearfix">
        <table class="table table-bordered table-striped table-condensed table-hover">
            <thead>
            <tr>
                <th style="width: 50px;">序号</th>
                <th>编号</th>
                <th>名称</th>
                <th>时间</th>
                <th>详情</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-if="loadErrorMsgb">
                <td colspan="100"><div class="text-center"><strong>{{loadErrorMsg}}</strong></div></td>
            </tr>
            <tr ng-repeat="item in dataList">
                <td class="text-center">{{$index + 1}}</td>
                <td>{{item.customer.customerCode}}</td>
                <td>{{item.customer.customerName}}</td>
                <td>{{item.logSubmitTime}}</td>
                <td>{{item.logContent}}</td>
            </tr>
            </tbody>
        </table>
        <div class="pull-right">
           <div class="btn-group" role="group" aria-label="...">
               <button type="button" class="btn btn-default" ng-disabled="conditionList.first == true" ng-click="homePageClick()">首页</button>
               <button type="button" class="btn btn-default" ng-disabled="conditionList.number == 0" ng-click="previousPageNumber()">上一页</button>
               <button type="button" class="btn btn-default">{{number}}&nbsp;/&nbsp;{{conditionList.totalPages+1}}页&nbsp;/&nbsp;共{{conditionList.totalElements}}条</button>
               <button type="button" class="btn btn-default" ng-disabled="conditionList.number==conditionList.totalPages" ng-click="nextPageNumber()">下一页</button>
               <button type="button" class="btn btn-default" ng-disabled="conditionList.last == true" ng-click="lastPageClick(conditionList.totalPages)">末页</button>
           </div>
            <div class="input-inline">每页
                <select name="" id="" class="form-control input-inline input-mini">
                    <option value="" >10</option>
                </select>
                条数据
            </div>
        </div>
    </div>
</div>
