<div class="row">
    <div class="col-sm-12">
        <h3 class="no-margin border-bottom">Accordion</h3>
    </div>
    <div class="col-sm-12 margin-top-10">
        <ui-accordion close-others="oneAtATime">
            <div ui-accordion-group class="panel panel-default" heading="111111111">
                This content is straight in the template.
            </div>
            <div ui-accordion-group class="panel panel-default" heading="22222222">
                This content is straight in the template22222.
            </div>
        </ui-accordion>
    </div>
</div>