<div class="row">
  <div class="col-sm-12">
    <h3 class="no-margin border-bottom">按钮</h3>
    <p class="margin-top-10">为 &lt;a&gt;、&lt;button&gt; 或 &lt;input&gt; 元素添加按钮类（button class）即可使用 Bootstrap 提供的样式。</p>
  </div>
  <div class="col-sm-12">
     <div class="example-content">
       <div class="example">
         <p>实例：</p>
         <a class="btn btn-default" href="#" role="button">Link</a>
         <button class="btn btn-default" type="submit">Button</button>
         <input class="btn btn-default" type="button" value="Input">
         <input class="btn btn-default" type="submit" value="Submit">
         <p class="margin-top-10">代码：</p>
       </div>
       <div class="code-section">
        <textarea class="h-light">
           <a class="btn btn-default" href="#" role="button">Link</a>
           <button class="btn btn-default" type="submit">Button</button>
           <input class="btn btn-default" type="button" value="Input">
           <input class="btn btn-default" type="submit" value="Submit">
        </textarea>
       </div>
     </div>
  </div>
</div>