<div class="row">
    <div class="col-sm-12">
        <h3 class="no-margin border-bottom">悬浮提示</h3>
    </div>
    <div class="col-sm-12 margin-top-10" ng-controller="suspendController">
        <suspend-box open-way="click">
            <p ng-repeat="item in roll_list | limitTo:3">{{$index+1}}：{{item.groupId}}</p>
        </suspend-box>
        <h3 class="no-margin">...</h3>
        <h3 class="no-margin">...</h3>
        <h3 class="no-margin">...</h3>
        <h3 class="no-margin">...</h3>
        <h3 class="no-margin">...</h3>
        <suspend-box open-way="click">
            <p ng-repeat="item in roll_list | limitTo:3">{{$index+1}}：{{item.groupId}}</p>
        </suspend-box>
    </div>
</div>
