<div class="row">
    <div class="col-sm-12">
        <h3 class="no-margin border-bottom">悬浮提示</h3>
    </div>
    <div class="col-sm-12 margin-top-10" ng-controller="suspendController">
        <div class="dropdown">
            <button class="btn btn-default" type="button" ng-click="dropdownClick($event)">点击我</button>
            <ul class="dropdown-menu">
                <li>aaaaaaaaaaa</li>
                <li>aaaaaaaaaaa1</li>
                <li>aaaaaaaaaaa2</li>
                <li>aaaaaaaaaaa3</li>
            </ul>
        </div>
        <div class="panel panel-default">
            <div class="panel-body" style="height: 200px;overflow-y: auto">
                <suspend>
                    <button class="btn btn-warning" type="button">点击显示</button>
                </suspend>
                <suspend-box class="alert-wrap" open-way="click">
                    <alert-icon>
                        <!--<i class="fa fa-question-circle btn"></i>-->
                        <button class="btn btn-warning" type="button">点击显示</button>
                    </alert-icon>
                    <alert-content>
                        <p>1、悬浮提示悬浮提示悬浮提示悬浮提示悬浮提示</p>
                        <p>1、悬浮提示悬浮提示悬浮提示悬浮提示悬浮提示</p>
                    </alert-content>
                </suspend-box>
            </div>
        </div>
    </div>
    <div class="col-sm-12 margin-top-10">
        <suspend-box class="alert-wrap" open-way="hover">
            <alert-icon>
                <!--<i class="fa fa-question-circle btn"></i>-->
                <button class="btn btn-warning" type="button">悬浮提示</button>
            </alert-icon>
            <alert-content>
                <p>提示信息提示信息提示信息提示信息提示信息</p>
            </alert-content>
        </suspend-box>
    </div>
</div>
