<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/font/css/font-awesome.css" rel="stylesheet">
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body ng-app="commonalityApp">
 <div class="pages-content" ng-controller="homeController">
        <nav>
            <div class="container clearfix">
                <div class="header-title pull-left">DOC</div>
                <ul class="header-list pull-left">
                    <li class="header-list-item" ui-sref="OSStyle" ui-sref-active="active">全局CSS样式</li>
                    <li class="header-list-item" ui-sref="subassembly" ui-sref-active="active">JavaScript插件</li>
                    <li class="header-list-item" ui-sref="other" ui-sref-active="active">其他</li>
                </ul>
            </div>
        </nav>
         <header>
             <div class="container">
                 <h3>{{sidebartitle}}</h3>
                 <p>{{sidebarintroduce}}</p>
             </div>
         </header>
        <div class="container container-content">
            <div ui-view=""></div>
        </div>
 </div>

 <script src="../node_modules/jquery/dist/jquery.min.js"></script>
 <script src="../node_modules/angular/angular.min.js"></script>
 <script src="../node_modules/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
 <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
 <script src="../assets/js/marked/highlight.min.js"></script>
 <script src="../assets/js/marked/marked.min.js"></script>
 <script src="../assets/js/main.js"></script>
 <script src="../assets/layer/layer.js" ></script>
 <script src="../script/accordion.js"></script>
 <script src="../script/carousel.js"></script>
 <script src="../script/form_verify.js"></script>
 <script src="../script/modal.js"></script>
 <script src="../script/suspend.js"></script>
 <script src="../script/lazy_loading.js"></script>
</body>
</html>