<!DOCTYPE html>
<html lang="en" ng-app="commonalityApp">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- build:css ../assets/css/vendor.min.css-->
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/font/css/font-awesome.css" rel="stylesheet">
    <!-- endbuild-->

    <!-- inject:css -->
    <!-- endinject -->

    <!-- build:js ../assets/js/vendor.min.js-->
    <script src="../../node_modules/jquery/dist/jquery.js"></script>
    <script src="../../node_modules/angular/angular.js"></script>
    <script src="../../node_modules/@uirouter/angularjs/release/angular-ui-router.js"></script>
    <!-- endbuild-->

    <!-- inject:js -->
    <!-- endinject -->
</head>
<body>
 <div class="pages-content" ng-controller="homeController">
        <nav>
            <div class="container clearfix">
                <div class="header-title pull-left">DOC</div>
                <ul class="header-list pull-left">
                    <li class="header-list-item" ui-sref="OSStyle" ui-sref-active="active">全局CSS样式</li>
                    <li class="header-list-item" ui-sref="subassembly" ui-sref-active="active">JavaScript插件</li>
                    <li class="header-list-item" ui-sref="other" ui-sref-active="active">其他</li>
                </ul>
            </div>
        </nav>
         <header>
             <div class="container">
                 <h3>{{sidebartitle}}</h3>
                 <p>{{sidebarintroduce}}</p>
             </div>
         </header>
        <div class="container container-content">
            <div ui-view=""></div>
        </div>
 </div>

</body>
</html>